# .env de ejemplo

PORT=3000
DB_USER=xxx
DB_PASSWORD=222
DB_CONNECTION_STRING=localhost:port/servicename

STRIPE_SECRET_KEY=rk_test
STRIPE_WEBHOOK_SECRET=whsec

SMTP_USER="correoenvio@gmail.com"
SMTP_PASS="codigogoogle"